.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 200px;
}

.pokemon_name {
  text-align: center;
  text-transform: capitalize;
}

.error-message {
  padding: 10rem;
  text-align: center;
  color: red;
}
